<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @reservation.table_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @reservation.time %>
</p>

<p>
  <strong>Group size:</strong>
  <%= @reservation.group_size %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
