<p id="notice"><%= notice %></p>

<h1>Listing Tables</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Min occupants</th>
      <th>Max occupants</th>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.name %></td>
        <td><%= table.min_occupants %></td>
        <td><%= table.max_occupants %></td>
        <td><%= table.restaurant_id %></td>
        <td><%= link_to 'Show', table %></td>
        <td><%= link_to 'Edit', edit_table_path(table) %></td>
        <td><%= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table', new_table_path %>
