<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @table.name %>
</p>

<p>
  <strong>Min occupants:</strong>
  <%= @table.min_occupants %>
</p>

<p>
  <strong>Max occupants:</strong>
  <%= @table.max_occupants %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @table.restaurant_id %>
</p>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
