<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :opening %><br>
    <%= f.text_field :opening %>
  </div>
  <div class="field">
    <%= f.label :closing %><br>
    <%= f.text_field :closing %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
