<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Opening :</strong>
  <%= @restaurant.opening %>
</p>

<p>
  <strong>Closing:</strong>
  <%= @restaurant.closing %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
